body{

}

/* Front End UI */

.voucher_image{		float: left;	}
.voucher_container{		margin-top: 15px	}
.voucher_information{	
	border: 1px solid #eeeeee; 
	float: left; 
	padding: 13px; 
	background-color: white; 
	width: 300px;	
}

.button{	margin-top: 15px;	}
.clear{		clear: both;	}

.information{
	list-style-type: none;
	margin: 15px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.information li{
padding: 3px 0px 8px 23px;
background: transparent url('../images/delivery_terms.png') no-repeat left 0.25em;
}


#formTable{
	border: 1px solid #eeeeee; 
	float: left; 
	padding: 13px; 
	background-color: white; 
	width: 400px;
	margin-top: 15px;
}
	#formTable	input[type=text], textarea, select{
		border: 1px solid #e3e3e3;
		font-size: 14px;
		color: #333333;
		padding: 5px;
		width: 205px;
	}

	.formtitle{
		padding: 8px;
		background-color: #1280c8;
		color: #ffffff;
		margin: 10px 0px;
	}

/* Validation */

.red{	color: #eee!important;		}
.white{ color: #fff!important;		}
.error{	
	padding:10px; 
	background:#f2dede; 
	border:3px solid #eed3d7;	
}
	.error h2{	color:red;	}
	.error ul{}
	.error ul li b{color:red;}

.missing{
	color: #b94a48!important; 
	background-color: #f2dede!important; 
	border-color: #eed3d7!important;
}

.hide{ display: none; }
.complete{ 
	background-color: white!important; 
	border: 1px solid #eeeeee!important; 
	color: #333333!important;
}

/* Drop Down Delivery & Terms */

.show_delivery{
	color: blue!important; 
	cursor: pointer; 
	display: block;
}

	.delivery_content{ 
		padding: 15px; 
		font-size: 10px; 
		background-color: #efefef; 
		border: 1px solid #d6d6d6; 
		margin: 10px 0px;	
	}

	.delivery_content h1{	
		font-size: 16px!important; 
		color: #333333!important; 
		font-weight: bold!important; 
	}

.show_terms{
	color: blue!important; 
	cursor: pointer; 
	display: block;
}

	.terms_content{ 
		padding: 15px; 
		font-size: 10px; 
		background-color: #efefef; 
		border: 1px solid #d6d6d6;
		 margin: 10px 0px;	
	}
	
	.terms_content h1{	
		font-size: 16px!important; 
		color: #333333!important; 
		font-weight: bold!important; 
	}

.line{
	border-bottom: 1px solid #e3e3e3;
	margin: 20px 0px;
}

/* Backend UI */

.certificate_th{
	color: #ffffff!important; 
	font-weight:bold;
	background:#0074a2;
	padding: 10px!important;	
}
	.certificate_id{
		color: #ffffff!important; 
		font-weight:bold;
		background:#0074a2;
		padding: 10px!important;	
		width: 20px;
	}

.moredetails{
	margin-bottom: 5px;
	padding: 15px; 
	background-color: #f1f1f1; 
	color: #333333; 
	font-size: 14px;
}
	.hidedetails{
		display: none; 
		width: 100%!important;

	}

.update_certificate{	background-color: #333;		}
.update_width{	width: 100%;	}

#company_info{	width: 300px;	}
#terms_conditions{	width: 300px;	}
#delivery_information{	width: 300px;	}

.new{	background-color: #fffec6;	}
.pending { background-color: #ffdddd!important;	}
.legend{ background-color: #fffec6!important; padding: 10px; margin-bottom: 10px; margin-right: 60px; width: 370px; float: left;}

.filter{ margin-top: 1px;}
.search{ padding: 5px!important; }

#show_table_information{
	display: block!important;
}


.down-arrow{
cursor:pointer;
width: 0px;
height: 0px;
border-style: solid;
border-width: 8.7px 5px 0 5px;
border-color: #0074a2 transparent transparent transparent;
line-height: 0px;
_border-color: #0074a2 #000000 #000000 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
display:block;
}
.up-arrow{
cursor:pointer;
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 5px 8.7px 5px;
border-color: transparent transparent #0074a2 transparent;
line-height: 0px;
_border-color: #000000 #000000 #0074a2 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
display:block;
}